
<header>

  <div class="container">
    <img src="https://www.kindpng.com/picc/m/710-7104977_transparent-calendar-icon-png-transparent-calendar-cartoon-image.png">
  </div>

  <div class="brand">
    <h5>Personal Scheduler</h5>
  </div>

</header>

<P>
  Welcome to your personal scheduler! This is an application for you to check for current events
  and to see future events coming up so you can remind yourself to complete them. Hopefully you are not too busy this week!
</P>

<!-- Button to go to our schedule. This is the button the client uses to go to the route we created on the backend/server side -->
<form action="http://localhost:4200/planner/event1">
  <input type="submit" value="Go to Personal Scheduler" />
</form>













