
<header>
  <div class="brand">

    <h5>Personal Scheduler</h5>
  </div>
</header>

<table>
  <thead>
  <tr>
    <th>Calendar</th>
    <th>November 9, 2020</th>
    <th>November 10, 2020</th>
    <th>November 11, 2020</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td> Event 1</td>
    <td>Final for English due</td>
    <td>Homework for calculus due at 11:59pm!</td>
    <td>Soccer practice tonight! Don't be late</td>

  </tr>
  <tr>
    <td>     Event 2          </td>
    <td>   Remember to get birthday gift for sister!!            </td>
    <td>Dinner with family at 6pm</td>
    <td>   Go to work early today so you can get off early for class zoom meeting            </td>

  </tr>
  </tbody>
</table>








