

h5 {
  color: darkgreen;
  font-size: 50px;
  font-weight: bold;
}

p {
  color: darkgreen;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
}

.container {
  width: 200px;
  height: 120px;
}

/* resizes the image*/
.container img {
  width: 100%;
  height: auto;
}


